h1 {
	color: #AF9E5D; 
    font-size: 50px;
 
    font-family: Helvetica,sans-serif;
    letter-spacing: 7px;
}
/*#AF9E2A saddlebrown #84491fb8*/
span{
	display:inline-block; 
	width: 130px;
}
.navbar{
	width: 100%;
}
.navbar a {
    float: left;
    margin-left: 140px;
    padding: 14px;
    text-decoration: none;
	color: black;
	margin-right: -57px;
	margin-top: -8px;
}
.introPara{
	padding-left: 544px;
	letter-spacing: 1px;
    font-size: 16px;
	padding-top: 11px;
}
.introPara a{
	text-decoration: none;
	font-weight: bold;
	color: #002023;
}
.introPara a:hover{
	color: gray;
}

.bottomPara{
	padding-left: 61px;
	padding-top: 11px;
	letter-spacing: 1px;
    font-size: 16px;
}
.bottomPara a{
	text-decoration: none;
	font-weight: bold;
	color: #002023;
}

.bottomPara a:hover{
	color: gray;
}

.brownTitle{
	padding-left: 544px;
	font-weight: bold;
	font-style: italic;
	color: #84491fb8;
	font-size: 35px;
	font-family: serif;
}
.fixed-bg {
	background-image: url('http://cs-server.usc.edu:45678/hw/hw3/images/image6.jpg');
height: 570px;
width: 1060px;

background-attachment: fixed;
background-repeat: no-repeat;
background-position: -317px 82px;
background-size: 1715px;

}
.orderOnlineBox{
	position: absolute;
	left: 36%;
	margin-top: 17%;
	background-color: white;
	padding-left: 85px;
	padding-right: 85px;
	color: darkslategrey;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 40px;
	padding-top: 40px;
	font-size: small
}
.orderOnlineBox a{
	text-decoration: none;
	color: darkslategray;
}
.orderOnlineBox a:hover{
	color: gray;
}

.copyrightBox{
	position: absolute;
	width: 385px;
	margin-top: 428px;
	background-color: #BE9A5C;
	padding-left: 667px;
	
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 100px;
	padding-top: 40px;
	font-size: 13px
}
