h1 {
	color: #AF9E5D; 
    font-size: 70;
 
    font-family: sans-serif,Verdana;
    letter-spacing: 7px;
}
/*#AF9E2A saddlebrown #84491fb8*/
span{
	display:inline-block; 
	width: 130px;
}
.navbar{
	width: 100%;
}
.navbar a {
    float: left;
    margin-left: 145px;
    padding: 14px;
    text-decoration: none;
	color: black;
}
.introPara{
	padding-left: 700px;
	letter-spacing: 1;
    font-size: 16px;
	padding-top: 11px;
}
.introPara a{
	text-decoration: none;
	font-weight: bold;
	color: #002023;
}
.introPara a:hover{
	color: gray;
}

.bottomPara{
	padding-left: 204px;
	padding-top: 11px;
	letter-spacing: 1;
    font-size: 16px;
}
.bottomPara a{
	text-decoration: none;
	font-weight: bold;
	color: #002023;
}

.bottomPara a:hover{
	color: gray;
}

.brownTitle{
	padding-left: 700px;
	font-weight: bold;
	font-style: italic;
	color: #84491fb8;
	font-size: 35px;
}
.fixed-bg {
    background-image: url('images/image6.jpg');
    width: 100%;
	min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.orderOnlineBox{
	position: absolute;
	left: 36%;
	margin-top: 17%;
	background-color: white;
	padding-left: 85px;
	padding-right: 85px;
	color: darkslategrey;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 40px;
	padding-top: 40px;
	font-size: small
}
.orderOnlineBox a{
	text-decoration: none;
	color: darkslategray;
}
.orderOnlineBox a:hover{
	color: gray;
}

.copyrightBox{
	position: absolute;
	width: 385px;
	margin-top: 37%;
	background-color: #BE9A5C;
	padding-left: 70%;
	
	color: white;
	font-weight: bold;
	letter-spacing: 1px;
	padding-bottom: 100px;
	padding-top: 40px;
	font-size: small
}
